<!DOCTYPE html>
<html lang='jp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <script type="text/javascript" >
    function disp(){
      pass = window.prompt("pass","");
      location.href = "{% url "change" %}";
    }
  </script>

  <title>N研 研究員現在地</title>
</head>
<body>
  <h1>N研 研究員現在地</h1>
  <table>
    <thead>
      <tr>
        <th>番号</th>
        <th>場所</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
          <td>{{student.number}}</td>
          <td>{{student.place}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
	  <td>
	    <input type="button" value="変更" onclick="disp()">
	  </td>
        </tr>
    </tbody>
  </table>
</body>
</html>
